body{
    width: 100%;
}

body nav{
    width: 25%;
    background-color: aqua;
}

body section{
    width: 50%;
    background-color: red;
}

body aside{
    width: 22%;
    background-color: yellow;
}

div#conten{
    margin-left: 10px;
}

body nav, section, aside{
    display: inline-block;
}

header, div#content{
    margin: 1px 12% 0% 12%;
}
header ul{
    display: inline-block;
}
header ul li{
    list-style-type: none;
    display: inline-block;
}

header ul li a{
    text-decoration: none;
    color: black;
}

ul.header-ul-first{
    width: 46%;
    margin-left: -40px;
}

div.first-div{
    background-color: #3179c7;
    height: 60px;
    border: 1px solid white;
    border-radius: 6px;
    margin-top: 30px;
    width: 97%;
}

div.second-div{
    margin-top: 30px;
}

div.first-div p{
    margin-left: 4px;
    margin-top: 0px;
    height: 30px;
    background-color: white;
    opacity: 0.9;
    text-align: center;
    padding-top: 1.5%;
    padding-bottom: 1%;
}

div.first-div p span{
    background-color: #3179c7;
    color: white;
    border-radius: 50%;
    padding-right: 6px;
    padding-left: 6px;
    margin-right: 12px;
}
ul.header-ul-second{
    width: 50%;
}

.header-ul-first, .header-ul-second{
    
}

header ul li a span{
    font-size: 19px;
    font-family: sans-serif;
    padding: 4px;
}

#a-span-mdn{
    text-transform: uppercase;
}

#a-span-plus{
    text-transform: capitalize;
    margin-left: -10px;
}

.li-a-hover:hover{
    background-color: rgb(236, 58, 206);
    color:rgb(255, 196, 242);
    padding: 7px;
    border-radius: 3px;
}

.last-li{
    background-color: black;
    border-radius: 3px;
    padding: 6px
}

.last-li a span{
    color: white;
}

.last-li:hover{
    background-color:rgb(64, 63, 63);
}

div#header-bottom ul li{
    list-style-type: none;
    display: inline-block;
}

div#header-bottom ul li a{
    text-decoration: none;
    color:rgb(64, 63, 63);
}

div#header-bottom ul#first-ul{
    display: inline-block;
    width: 56.5%;
    margin: 1px 10% 0% 10%;
}

div#header-bottom ul#last-ul{
    display: inline-block;
}

div#header-bottom ul#last-ul a:hover{
    background-color:rgb(183, 176, 176);
    border-radius: 3px;
    padding: 7px;
}

div#header-bottom{
    border-top: 1px solid;
    border-bottom: 1px solid;
    background-color: rgb(250, 248, 248);
}

div#header-bottom ul{
    margin-top: 7px;
    margin-bottom: 7px;
}